**/__pycache__
**/outputs
train_codec_logs
train_world_model_logs
.env
scripts/tests/

scope_clips/
scope_dinol_clips/
adaln_clips/

public/mira-scope-demo.mp4
public/mira-scope-demo-short.mp4
public/mira-scope-demo-with-raw.mp4
public/mira-scope.mp4